body {
  background-color: rgb(53, 53, 53);
}
input {
  width: 500px;
  height: 50px;
  font-size: 22px;
  margin-bottom: 15px;
}

.b1 {
  min-width: 457px;
  height: 50px;
  font-size: 22px;
  margin-bottom: 5px;
  text-align: center;
  border: 2px white;
}
.b2 {
  width: 50px;
  height: 50px;
  background-color: brown;
  color: white;
  font-size: 33px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  border: 2px brown;
}
.b1:hover {
  background-color: rgb(203, 201, 201);
  border: 2px rgb(203, 201, 201);
}
.add:hover,
.C:hover,
.b2:hover {
  background-color: rgb(91, 23, 23);
}
.text {
  text-decoration-line: line-through;
}
#divA,
#divB {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
  width: 1200px;
}
.add{
  width: 4.5vw;
  height: 56px;
  background-color: brown;
  color: white;
  font-size: 2vw;
  margin-bottom: 5px;
  text-align: center;
  border: 2px brown;
}

.C {
  width: 3vw;
  height: 56px;
  background-color: brown;
  color: white;
  font-size: 2vw;
  margin-bottom: 5px;
  text-align: center;
  border: 2px brown;
}

@media (max-width:700px){
input{
  width: 175px;
}
.btns{
  margin: 5px;
  max-width: 625px;
}
.b1{
  min-width: 350px;
}.add{
  width: 8vw;
  font-size: 3.5vw;
  z-index: 2;
}
.C{
  width: 7vw;
  font-size: 6vw;
  z-index: 2;
}
}
